<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Create Pizza Order</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
        <div class="container">
            <a class="navbar-brand" href="/pizzas/all">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/orders/all">View Your Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders/new">+ Create A New Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/pizzas/all">Pizza Pies</a>
                    </li>
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-body-secondary mb-3 p-1">
        <div class="container d-flex justify-content-between align-items-center">
            <p class="mb-0">{{user.email}}</p>
            <p class="mb-0">
                <a href="/users/logout">Logout</a>
            </p>
        </div>
    </div>
    <div class="container">
        <h1 class="display-3 mb-3">Create A New Pizza</h1>

        {# Error Messages #}
        {% with errors = get_flashed_messages() %}
        {% if errors %}
        {% for error in errors %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card shadow mb-3">
            <div class="bard-body mb-3 p-3">
                <form action="/pizzas/create" method="post">
                    <input type="hidden" name="user_id" value="{{ session.user_id }}" />
                    <div class="form-floating mb-3">
                        <select name="method" id="method" class="form-select">
                            <option value="delivery">Delivery</option>
                            <option value="pickup">Pickup</option>
                        </select>
                        <label for="method" aria-label="name">Method:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select name="size" id="size" class="form-select">
                            <option value="small">Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                        </select>
                        <label for="size" aria-label="name">Size:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select name="crust" id="crust" class="form-select">
                            <option value="regular">Regular</option>
                            <option value="thin">Thin</option>
                            <option value="thick">Pan</option>
                            <option value="stuffed">Stuffed</option>
                        </select>
                        <label for="crust" aria-label="name">Crust:</label>
                    </div>
                    <div class="form-floating mb-3">
                        Toppings:
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="toppings[]"
                                value="Extra Cheese">
                            <label class="form-check-label" for="inlineCheckbox1">Extra Cheese</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="toppings[]"
                                value="Pepperoni">
                            <label class="form-check-label" for="inlineCheckbox2">Pepperoni</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="toppings[]"
                                value="Sausage">
                            <label class="form-check-label" for="inlineCheckbox3">Sausage</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="toppings[]"
                                value="Canadian Bacon">
                            <label class="form-check-label" for="inlineCheckbox4">Canadian Bacon</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" name="toppings[]"
                                value="Mushrooms">
                            <label class="form-check-label" for="inlineCheckbox5">Mushrooms</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" name="toppings[]"
                                value="Olives">
                            <label class="form-check-label" for="inlineCheckbox6">Olives</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" name="toppings[]"
                                value="Green Peppers">
                            <label class="form-check-label" for="inlineCheckbox7">Green Peppers</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" name="toppings[]"
                                value="Onions">
                            <label class="form-check-label" for="inlineCheckbox8">Onions</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" name="toppings[]"
                                value="Pineapple">
                            <label class="form-check-label" for="inlineCheckbox9">Pineapple</label>
                        </div>

                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>