body {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(147, 6, 6, 0.947);
    background-image: url("/static/css/images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;
    margin: 0;
    padding: 0;
}

.custom-box {
    background-image: url("/static/css/images/something.jpeg");
    color: #555;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #555;
    transition: transform 0.3s ease-in-out;
}

.custom-box:hover {
    transform: scale(1.05);
}

.form-label {
    width: 100%;
    text-align: left;
}

.input-group-text {
    width: 100%;
    justify-content: flex-start;
}

